@model PrototipoLogin.Models.Movimentacoes.DtoEntrada

@Html.AntiForgeryToken()

<div id="message"></div>
    Voce tem certeza que deseja excluir essa movimentação?
<form id="frmCliente">
    <div class="form-horizontal">
        @Html.Hidden("identificador", Model.Descricao)
    </div>
</form>
