@model  PrototipoLogin.Models.Usuario.DtoLogin
@{
    ViewBag.Title = "Verificar E-mail";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/Confirm/fcmoney.confirmacaoEmail.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Home/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>

    <div class="signup">
        <div class="signup__status-box">
            <h3 class="signup__status-title mb-3">E-mail não confirmado!</h3>

            <p class="mb-5 text-center text-gray">
                Parece que você esqueceu de confirmar seu e-mail. Verifique sua caixa de entrada!

                Caso não tenha recebido o e-mail você pode solicitar outro no botão abaixo
            </p>

            <a class="btn btn-primary btn-user btn-block" href="@Url.Action("ReconfirmarEmail2", "Autenticacao",Model)">Enviar Novamente e-mail de confirmação</a>
        </div>
    </div>

</body>
</html>