@{
    Layout = "";
}

<!DOCTYPE html>

<html>

<head>

    <title>FCMONEY</title>

    <!-- Mobile Specific Meta
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!--<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />-->
    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="~/Content/Main/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/Content/Main/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Content/Main/StyleSheet.css">

</head>

<body id="body">


    <header class="navigation fixed-top ">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light">

                <a class="navbar-brand logo wow fadeInUp" href="#" style="color: white;">
                    <h1>RM CONTABILIDADE</h1>
                </a>

                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item ">
                        <a class="btn-lg btn btn-outline-light" href="@Url.Action("Login", "Autenticacao")">Acessar Sistema</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!--
    End Fixed Navigation
    ==================================== -->
    <!--
    Welcome Slider
    ==================================== -->
    </style>


    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">RMCONTABILIDADE<br></h1>
                        <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
                            A RM Organização Contábil atua no mercado há mais de 20 anos, e se consolida juntamente com seus parceiros, 
                            clientes e colaboradores, implantando um novo conceito em prestação de serviços contábeis, 
                            com soluções que atendem às necessidades de cada cliente.
                        </p>
                        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                            <!--
     <li class="list-inline-item">
         <a data-scroll href="#services" class="btn btn-main">Explore Us</a>
     </li>
     <li class="list-inline-item">
        <a data-scroll href="#team" class="btn btn-transparent">Learn More</a>
     </li>
        -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--

    Start About Section
    ==================================== -->
    <section class="service-2 section">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <!-- section title -->
                    <div class="title text-center">
                        <h2></h2>
                        <p> </p>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->
                </div>
                <!--
                      <div class="col-md-4 text-center">
                        <img src="images/about/member.jpg" class="inline-block" alt="">
                      </div>
                 -->
                <div style="margin-left: 250px;">
                    <div class="col-md-8">
                        <div class="row text-center">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-item">
                                    <i class="tf-ion-ios-alarm-outline"></i>
                                    <h4>Disponibilidade</h4>
                                    <p>Poderar acessar o sistema onde e quando quiser</p>
                                </div>
                            </div><!-- END COL -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-item">
                                    <i class="tf-ion-ios-briefcase-outline"></i>
                                    <h4>Simplicidade</h4>
                                    <p></p>
                                </div>
                            </div><!-- END COL -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-item">
                                    <i class="tf-ion-ios-email-outline"></i>
                                    <h4>Autenticação por email</h4>
                                    <p></p>
                                </div>
                            </div><!-- END COL -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="service-item">
                                    <i class="tf-ion-ios-locked-outline"></i>
                                    <h4>Sistema seguro</h4>
                                    <p></p>
                                </div>
                            </div><!-- END COL -->
                        </div>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End container -->
    </section> <!-- End section -->
    </div>



    <footer id="footer" class="bg-one">

        </div>
        <div class="footer-bottom">
            <h5>© FC MONEY 2020. Todos os direitos reservados</h5>
        </div>
    </footer> <!-- end footer -->
    <!-- end Footer Area
    ========================================== -->
    <!--
    Essential Scripts
    =====================================-->
    <!-- Custom js -->
    <script src="js/script.js"></script>

</body>
</html>
