.signup {
    min-height: 100vh;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 1rem;
}

.signup__status-box {
    padding: 65px 96px;
    width: 60%;
    justify-content: center;
}

.signup__box, .signup__status-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}

.signup__success-box {
    display: none;
}

.signup, .signup__first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
    box-sizing: border-box;
}


/*PARAGRAFOS*/
.text-gray {
    color: #747b87 !important;
}

.text-center {
    text-align: center !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.lead, .lead-1, .lead-2, p {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*H3*/

.signup__status-title {
    text-align: center;
    display: block;
    font-size: 1.125rem;
    color: #4a4a4a;
    font-family: circularstd;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #044a26;
    font-family: Chivo;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*BOTAO*/
.signup__success-box .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    font-weight: 700 !important;
}

.btn-primary {
    color: #fff;
    background-color: #13b15f;
    border-color: #13b15f;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #747b87;
    text-decoration: none;
    background-color: transparent;
}
